<div class="header" fxLayout="row">
    <div fxFlex="40%" fxLayout="row">
        <img src="./assets/logo1.png" alt="company-logo" class="logo">
        <div class="logo-text" fxLayout="column">
            <div>TRANSCUBE </div>
            <div>LANGUAGE SERVICES</div>
        </div>
    </div>
    <div class="nav-bar" fxFlexAlign="flex-end" fxFlex="30%">
        <app-navigation></app-navigation>
    </div>
    <div fxFlexAlign="flex-end" fxLayoutAlign="center start" fxFlex="30%" class="quote-button">
        <button center mat-button>Get a Quote</button>
    </div>
</div>
