.offerings-container {
    margin-top: 30px;
    padding-top: 30px;
    padding: 0 10%;
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    .header {
        font-size: 30px;
        font-weight: 400;
        padding: 20px 0px;
    }
    .tile {
        position: relative;
        img {
            width: 100%;
            height: 240px;
        }
        .caption {
            background-color: black;
            padding: 10px;
            color: white;
            font-size: 24px;
            font-weight: 400;
            //z-index: 30;
            transition: bottom 3s;
            height: 30px;
            position: absolute;
            width: calc(100% - 20px);
            margin-top: -53px;
            button {
                background-color: #357ae8;
                margin-top: 40px;
            }
            .details {
                padding-top: 40px;
                display: none;
                font-size: 16px;
                font-weight: 200;
            }
            .title {
                text-transform: capitalize;
            }
        }
    }
    .tile:hover {
        .caption {
            height: 221px;
            top: 0px;
            margin-top: 0;
            .details {
                display: block;
            }
        }
    }
}
