<div class="starter-container" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
        <div fxFlex=50% class="tile-1">
            <div class="header">Delivering Quality Language Solutions</div>
        </div>
        <div fxFlex="50%">
            <div class="header">A Professional LSP you can trust</div>
        </div>
    </div>
    <div>
        <div class="header">Providing best in class Services</div>
    </div>
    <div class="question">Are you having a language related requirement?</div>
    <div class="answer">We are here to help you fullfill all your requirements with utmost quality and standard</div>
    <div class="header">Get in touch and experience our world class services</div>
    <button fxFlexAlign="center" mat-button class="quote-button">GET A FREE QUOTE</button>
</div>
<app-offerings></app-offerings>
<app-expertise></app-expertise>
